{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
<div class="page__section--2fa">
  <h3>{% block title %}{% trans "Desactivar 2FA" %}{% endblock %}</h3>
    <form class="default" method="post">
      {% csrf_token %}
  <p>{% blocktrans trimmed %}Estás a punto de desactivar la autenticación en dos pasos. Esto
    reduce la seguridad de tu cuenta. ¿Confirmas que quieres continuar?
    {% endblocktrans %}</p>
    {% for field in form %}
    <p>
      <label for="{{ field.name }}">
        {% if field.name == 'understand' %}
          {% trans 'Confirmo' %}
        {% else %}
          {{ field.label }}
        {% endif %}
      {{ field }}
    </p>
    {% endfor %}
    <button class="btn btn-danger"
            type="submit">{% trans "Disable" %}</button>
    <h5><a href="{% url 'two_factor:profile' %}"
            class="btn btn-block btn-secondary">{% trans "Cancelar" %}</a></h5>

  </form>
</div>
{% endblock %}
