{# Render a user with a grid layout #}
{% load i18n %}

<div class="postmaster--list">
    <div class="field postmaster__name--list">
        <div class="field__label">
          {% trans 'Usuarix' %} 
        </div>
        <div class="field__value">
            postmaster@{{ postmaster }}
        </div>
    </div>
    <div class="field postmaster__emails--list">
        <div class="field__label">
            {% trans 'Cuentas de correo' %}
        </div>
        <div class="field__value">
            {% if n > 0 %}
            <a href="{% url 'mails' %}#{{ postmaster|slugify }}">
                {% trans 'Ver cuentas de correo en ' %} {{ postmaster }} ({{ n }})
            </a>
            {% else %}
                {% trans 'No hay cuentas de correo asociadas a este dominio' %}
            {% endif %}
        </div>
    </div>

    <div class="postmaster__links--list">
        <div class="postmaster__link--list edit">
            <a href="{% url 'postmaster' %}?domain={{postmaster}}">
            {% if postmaster in active_postmasters %}
                {% trans 'Editar' %}
            {% else %}
                {% trans 'Activar' %}
            {% endif %}
            </a>
        </div>
    </div>
</div>
