{# table that shows a DNS record #}
{# see templates/pages/dns.html #}
{% load i18n %}

<div class="dns--table">
    <div class="field dns__type--table">
        <label class="field__label">
            {% trans 'Tipo' %}
        </label>
        <p class="field__value">
            {{ type }}
        </p>
    </div>
    <div class="field dns__name--table">
        <label class="field__label">
            {% trans 'Nombre' %}
        </label>
        <p class="field__value">
            {{ name }}
        </p>
    </div>
    {% if has_value %}
    <div class="field dns__value--table">
        <label class="field__label">
            {% trans 'Valor actual' %}
        </label>
        <p class="field__value">
            {% if value %}
                {{ value }}
            {% else %}
                {% trans 'No hay registro' %}
                {% if subtype %}{{ subtype }}{% else %}{{ type }}{% endif %}
            {% endif %}
        </p>
    </div>
    {% endif %}
    <div class="field dns__required-value--table">
        <label class="field__label">
            {% trans 'Valor requerido' %}
        </label>
        <p class="field__value">
            {% if type == 'A' %}
                {% if forloop.first %}
                    {{ required_value }}
                {% endif %}
            {% else %}
                {{ required_value }}
            {% endif %}
        </p>
    </div>
    {% if has_status %}
    <div class="field dns__status--table">
        <label class="field__label">
            {% trans 'Estado' %}
        </label>
        <p class="field__value">
			{% if subtype == 'DKIM' %}
			  {% if dkim_matches %}
                            ✓
                          {% elif not 'dns' in request.path %}
                            ❌
                          {% else %}
                            <a href='#fix-{% if subtype %}{{ subtype }}{% else %}{{ type }}{% endif %}'>
                              ❌   {% trans '¿Cómo Corregir?' %}
                            </a>
                          {% endif %}
                        {% else %}
			  {% if value|stringformat:"s" == required_value|stringformat:"s" %}
                            ✓
			  {% else %}
                            <a href='{% if not 'dns' in request.path %}{% url 'dns' %}{% endif %}#fix-{% if subtype %}{{ subtype }}{% else %}{{ type }}{% endif %}'>
                              ❌   {% trans '¿Cómo Corregir?' %}
                            </a>
			  {% endif %}
			{% endif %}
        </p>
    </div>
    {% endif %}
    {% if show_priority %}
    <div class="field dns__priority--table">
        <label class="field__label">
            {% trans 'Prioridad' %}
        </label>
        <p class="field__value">
            10
        </p>
    </div>
    {% endif %}
</div>
