{# Render a service with a grid layout #}
{% load i18n templatetags %}

<div class="service--grid {{ action }}">
    <figure class="field service__image--grid">
        <img class="field__value" src="{% asset_img service.settings.logo %}" />
    </figure>
    <div class="field service__title--grid">
        <h3 class="field__value">
            {{ service.settings.title }}
        </h3>
        <h5>{{ service.settings.name }}</h5>
    </div>
    <div class="field service__description--grid">
        <div class="field__value">
            {{ service.settings.description | safe }}
        </div>
    </div>
    <ul class="service__actions--grid">
        <li class="service__action--grid">
        {% if not service.settings.id in not_disabled %}
            {% with fname=action|add:"-"|add:service.settings.id %}
                {% with field=form|get_countitem:fname %}
                    {{ field }}
                {% endwith %}
            {% endwith %}
        {% endif %}
        </li>
    </ul>
    {% if service.dependencies|length > 0 %} 
        {% with fname="dependency-"|add:service.settings.id %}
            {% with field=form|get_countitem:fname %}
                {% if field %}
                    {{ field }}
                {% endif %}
            {% endwith %}
        {% endwith %}
    {% endif %}
</div>
