{# Login #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--password-reset{% endblock %}
{% block page_html_title %}{% trans 'Bienvenid@!' %}'{% endblock %}

{% block main %}
    <h1 class="page__title--password-reset">
        Maadix CPanel
    </h1>
    <figure class="logo--password-reset">
        <img src="{% img 'logo-maadix--full.png' %}" />
    </figure>
    {{ error }}
    <form class="form-reset" method="post">
      {% if validlink %}
        {% csrf_token %}
        {{ form.new_password1.errors }}
        <p class=required">
          {{ form.new_password1 }}
          <label for="id_new_password1">{% trans 'Nueva Contraseña:' %}</label>
        </p>
        {{ form.new_password2.errors }}
        <p class=required">
          {{ form.new_password2 }}
          <label for="id_new_password2">{% trans 'Confirmar Contraseña:' %}</label>
        </p>
    <button class="form-reset__submit" type="submit">{% trans 'Cambiar contraseña' %}</button>
</fieldset>

  {% else %}

    <p>{% trans "El enlace para restablecer la contraseña no es válido. Probablemente ya ha sido usado. Solicita un nuevo enlace." %}</p>

  {% endif %}
    </form>
{% endblock %}
