{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--domains{% endblock %}
{% block page_html_title %}{% trans 'Gestiona tus dominios' %}{% endblock %}

{% block main %}
<h1 class="page__title--domains">
    {% trans 'Dominios' %}
</h1>
<h1 class="page__subtitle--domains">
    {% trans 'Gestiona tus dominios' %}
</h1>
<div class="page__content--domains">
    <div class="page__wide-content-right--domains">
       {% if domains_module != 'error' %}
        <a class="services-button" href="{% url 'domains-add' %}">
            {% trans 'Añadir un dominio' %}
        </a>
        {% endif %}
    </div>
    <div class="page__wide-content-left--domains">
      {% if domains_module == 'error' %}
        <form class="default" method="POST">
        {% csrf_token %}
        <ul class="errorlist nonfield">
          <li>
          {% trans 'Una operación previa ha generado un error. Reanúdala para poder seguir eliminando o editando dominios' %}
          </li>
        </ul>
          <button class="modal__submit--genericlock confirm" type="submit" name="writeldap">
        {% trans 'Reanudar Proceso' %}
          </button>
      </form>

      {% endif %}
        <div class="view-domains">
            {% if domains|length > 0 %}
            <ul class="view-domains__items">
                {% for domain in domains %}
                <li class="view-domains__item">
                      {% include 'views/domain--grid.html' %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
	    <div class="page__instructions--domains-add">
              </p>{%trans 'En esta página puedes añadir dominios para crear tu propia web o cuentas de correo electrónico.' %}</p>
              </p>{%trans 'No añadas dominios que quieras utilizar para instalar aplicaciones.' %}</p>
              {% blocktrans trimmed %}
                Para ello tendrás que insertarlo únicamente en el campo correspondiente en el momento 
                de la instalación en la página 'Instalar Aplicaciones', tal como se muestra aquí:
              {% endblocktrans %}
              <a href="https://docs.maadix.net/applications/#instalar-aplicaciones" target="_blank">https://docs.maadix.net/applications/#instalar-aplicaciones</a>

              <p>{% trans 'Activar un dominio en este panel creará la configuración necesaria para:' %}</p>
            <ul>
              <li>{% trans 'Crear cuentas de correo electrónico.' %}</li>
              <li>{% trans 'Alojar contenido visible visitando el dominio con un navegador, para tus aplicaciones web.' %}</li>
              <li>{% trans 'Crear un certificado SSL para navegación segura (HTTPS).' %}</li>
            </ul>
            {% blocktrans trimmed %} 
            Recuerda que, para un correcto funcionamiento de tus dominios en el servidor,
            es necesario que configures correctamente los DNS desde el panel de configuración
            de tu proveedor de dominio.
            {% endblocktrans %}
            <a href="{% url 'domains-instructions' %}">{% trans 'Saber más' %}</a>.
        </div>

            {% endif %}
        </div>
        {% include 'blocks/modal-delete.html' %}
    </div>
</div>
{% endblock %}
