{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--services{% endblock %}
{% block page_html_title %}Services{% endblock %}

{% block main %}
<h1 class="page__title--services">
    {% trans 'Ver aplicaciones' %}
</h1>
<div class="page__subtitle--services">
    {% trans 'Aquí puedes gestionar las aplicaciones instaladas.' %}
</div>

<div class="page__content--services">
    {% if maintenance %}
        <div class="page__wide-content-left__services">
            <div class="page__section--warning">
            <div class="no-services">
                <h3>
                    {% trans 'Hay una tarea de mantenimiento pendiente' %}
                </h3>
                <p>{% trans 'Las aplicaciones no se pueden activar o desactivar.' %}</p>
                <p>{% trans 'Actualiza antes el sistema para poder cambiar el estado de las aplicaciones instaladas: ' %} <a class="" href="{% url 'update' %}">{% trans 'Actualizar' %}</a></p>
            </div>
            </div>
        </div>
    {% endif %}
    {% if enabled|length == 0 and disabled|length == 0 %}
      <div class="page__wide-content-left__services">
        <div class="view-services--unconnected">
            <p>{% trans 'En este momento no hay descripciones disponibles para las aplicaciones instaladas' %}</p>
            <p>{% trans 'Inténtalo de nuevo pasados unos minutos' %}</p>
            <p>{% trans 'Disculpa las molestias' %}</p>
        </div>
      </div>
    {% else %}
        {{ form.non_field_errors }}
        <form class="form--appupdate default" method="post">
            {% csrf_token %}
            <div class="page__wide-content-left--services-update">
              <h4>{% trans 'Aplicaciones Activas' %}</h4>
                <div class="view-services--grid">
                  {% for service in all_services %}
                      {% if service.settings.id in enabled %}
                          {% include 'views/service-grid.html' with service=service action='disable' %}
                      {% endif %}
                  {% endfor %}
                </div>
              <h4>{% trans 'Aplicaciones Desactivadas' %}</h4>
                <div class="view-services--grid">
                  {% for service in all_services %}
                      {% if service.settings.id in disabled %}
                          {% include 'views/service-grid.html' with service=service action='enable' %}
                      {% endif %}
                  {% endfor %}
              </div>
            </div>
            <div class="page__wide-content-right--services-install">
              {% if not maintenance and not no_updates %}
                <button class="services-button" type="submit">
                {% trans 'Aplicar cambios' %}
                </button>
              {% endif %}
            </div>
            {% if show_modal %}
                {% include 'blocks/modal-services.html' %}
            {% endif %}
        </form>
    {% endif %}
</div>
{% endblock %}

