{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--superuser{% endblock %}
{% block page_html_title %}{% trans 'Editar' %}{% endblock %}

{% block main %}
<h1 class="page__title--superuser">
    {% trans 'Editar la cuenta de Superuser' %}
</h1>
<div class="page__subtitle--superuser">
    {% trans 'Aquí puedes ver y editar la cuenta del Superuser (root del sistema).' %}
</div>

<div class="page__content--superuser">
    <div class="page__content-right--superuser">
        <div class="page__instructions--superuser">
        <p>
        {% blocktrans trimmed %}
        Esta es la cuenta root del sistema y dispone de un acceso total al
        servidor, con permisos ilimitados. No la puedes borrar ni eliminar su
        acceso SFTP/SSH, que está siempre garantizado.
        Para saber más, visita la siguiente página de nuestra guía de uso:
        {% endblocktrans %}
        </p>
        <a href="https://docs.v2.maadix.net/users/#superusuario" target="_blank">
          » {% trans 'Visitar guía de uso' %}
        </a>
        </div>
    </div>
    <div class="page__content-left--superuser">
        {% default_form form=form modifier='superuser' %}
    </div>
</div>
{% endblock %}
