{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--trass{% endblock %}
{% block page_html_title %}Trash{% endblock %}

{% block main %}
<h1 class="page__title--trash">
    {% trans 'Papelera de reciclaje' %}
</h1>
<div class="page__subtitle--services">
    {% trans 'Aquí puedes eliminar permanentemente las carpetas borradas.' %}
</div>

<div class="page__content--trash">
  <form class="form--trash default" method="post">
    {% if trash_status == 'error' %}
      <ul class="errorlist nonfield">
        <li>{% trans 'Una operación de borrado ha generado un error. Antes de eliminar otros elementos reanuda la operación anterior' %}</li>
      </ul>
    {% endif %}
    {{ form.non_field_errors }}
    <div class="page__wide-content-left--trash-update">
    {% csrf_token %}
    
    {% for i,j in trashContent.items %}
    {% if i == 'trash'%}
      <h2>{%trans 'Archivos' %}</h2>
      {% for k,item in j.items %}
          <div class="page__section--trash">
            <h3>
              <i class="{{item.icon}}"></i>
                {% trans item.title %}
            </h3>
            <div class= "trash--table">
              <h5><em>{% trans item.description %}</em></h5>
            </div>
          </div>
          
          {% if item.files %}
            <div class="trash--table top">
                <div class="field trash_name--table">
                  <label class="field__label">{% trans 'Eliminar' %}</label>
                </div>
                <div class="field trash_name--table">
                  <label class="field__label">{% if k == 'domains' %}{% trans 'Dominio' %}{%else %}{% trans 'Nombre' %}{% endif%}</label>
                </div>
                <div class="field trash__path--table">
                  <label class="field__label">{%if k == 'backups' %}{% trans 'Tamaño' %}{%else%} {% trans 'Ubicación' %}{%endif%}</label>
                </div>
                <div class="field trash__desc--table">
                  <label class="field__label">{% trans 'Fecha' %}</label>
                </div>
              </div>
              {% if trash_status != 'error' and item.files|length > 2%}
              <div class="trash--table">
                <div class="field trash__checkbox--table">
                  <p class="field__value "><input id ="delete-all{{k}}" name="select-all" value="{{k}}" type="checkbox"><label class="select_all">{% trans 'Seleccionar todo' %}</label></p>
                </div>
              </div>
            {% endif %}

            {% for folder in item.files %} 
              {% with fname=folder.cn %}
                {% with field=form|get_countitem:fname %}
		<div class="trash--table">
		  <div class="field trash__checkbox--table">
                    {% if trash_status != 'error' %}
                      {% if folder.status == 'intrash' or folder.status == 'none'  %}
                        <p class="field__value {{k}}">{{ field }}</p>
                      {% elif folder.status == 'totrash' %}
                        <label class="field__label">{% trans 'Moviendo a la papelera' %}</label>
                        <p class="moving_field {{k}}"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                        <span class="sr-only">Loading...</span></p>
                      {% elif folder.status == 'purge' %}
                        <label class="field__label">{% trans 'Borrando' %}</label>
                        <p class="moving_field {{k}}"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                        <span class="sr-only">Loading...</span></p>
                    {% endif %}
                  {% endif %}
		  </div>
                {% endwith %}
               {% endwith %}

                <div class="field trash_name--table">
                  <p class="field__value">{{ folder.type}}</p>
                </div>
                <div class="field trash__path--table">
                  <p class="field__value">{{ folder.otherPath}}</p>
                </div>
                <div class="field trash__desc--table">
                  <p class="field__value">{{ folder.description }}</p>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="trash--table">
            {% trans ' No hay ningún elemento en la papelera ' %}
            </div>
          {% endif %}
        {% endfor %}
	
        {% elif i == 'clean' %}
        <h2>{%trans 'Sistema' %}</h2>
        {% for k,item in j.items %}
  
            <div class="page__section--trash">
              <h3>
                <i class="{{item.icon}}"></i> {{item.name}}
              </h3>
            </div>

              {% with fname=k %}
                {% with field=form|get_countitem:fname %}
                   <div class="page__section--trash">
                     <div class="trash--table">
                        <div class="field trash__checkbox--table">

                          <p class="field__value {{k}}">{{ field }}
                          <label class="select_all">{{item.label}}</label>:  {{item.desc}}</p>
                        </div>
                     </div>
                   </div>
                 {% endwith %}
               {% endwith %}
          {% endfor %}
     {% endif %}
     {% endfor %}
        </div>
          <div class="page__wide-content-right--services-install">
              <button class="services-button" type="submit">
              {% if trash_status == 'error' %}
                {% trans 'Reanudar Operación' %}
              {%else %}
                {% trans 'Vaciar Papelera' %}
              {% endif %}
              </button>
          </div>
          {% if show_modal %}
          {% include 'blocks/modal-confirm-write.html' %}
          {% endif %}
      </form>
</div>
{% endblock %}
{% block page_scripts %}
    <script type="text/javascript" src="{% js 'trash.js' %}"></script>
{% endblock %}

