{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--update{% endblock %}
{% block page_html_title %}{% trans 'Actualiza MaadiX' %}{% endblock %}

{% block main %}
<h1 class="page__title--update">
    {% trans 'Actualiza MaadiX' %}
</h1>
<div class="page__subtitle--update">
    {% trans 'Actualiza el sistema a su última versión' %}
</div>
<div class="page__content--update">
    <div class="page__content-left--update">
        <div class="update-text {{ status }}">
            <h4>
                {% trans 'Versión actual:' %} {{ current_release }}
            </h4>
            {% if status == 'error' %}
                <h3>
                    {% trans 'La tarea de Mantenimiento o Actualización ha producido un error.' %}
                </h3>
                <p>{% trans 'A veces los errores se producen por circunstancias temporales, como por ejemplo repositorios no disponibles en el momento de la petición, o tiempos de ejecución demasiado largos.' %}</p>
                <p>{% trans 'Puedes repetir la operación haciendo clic en el botón "Actualizar".' %}</p>
                <p>{% trans 'Si el problema persiste, ponte en contacto con el equipo técnico de MaadiX.' %}</p>
            {% elif status == 'pending' %}
                <h3>
                <p>{% trans 'Una tarea de Mantenimiento está pendiente.' %}</p>
                </h3>
                <h5>
                <p>{% trans 'El equipo técnico ha sido notificado de los errores previos de tu sistema y ha implementado cambios para corregirlos.' %}</p>
                <p>{% trans 'Puedes repetir la operación haciendo clic en el botón "Actualizar".' %}</p>
                <p>{% trans 'Disculpa las molestias. ' %}</p>

                </h5>
                <p>{% trans 'Es necesario aplicar los cambios para que la actualización se complete.' %}</p>
              {% elif status == 'no-updates' %}
                  <h3>
                    {% trans 'No hay actualizaciones  disponibles.' %}
                  </h3>

                  <p>{% trans 'Inténtalo de nuevo pasados unos minutos.' %}</p>
                  <p>{% trans 'Disculpa las molestias.' %}</p>
              {% elif status == 'last-update' %}
                    <p>{% trans 'El sistema está actualizado a la última versión disponible de MaadiX' %}</p>
                    <p>{% trans 'Aun así, puedes actualizar el sistema operativo.'%}</p>
                    <p>{% trans 'Haciendo clic en el botón "Actualizar" puedes empezar el proceso que descargará las últimas versiones de los pauetes de Debian con actualizaciones de seguridad ' %}</p>
            {% elif update %}
                <h3 class="remarked">
                    {% trans 'Hay una nueva versión de sistema disponible' %}
                </h3>
                <p>
                {% blocktrans trimmed %}
                Existe una nueva versión del panel de control. Desde esta página
                puedes actualizar a la última versión, para que tu sistema incluya los cambios
                listados a continuación.
                {% endblocktrans %}
                </p>
                <ul class="update-details">
                    <li class="update-details__item name">
                        <h5>
                            {% trans 'Nombre de la versión' %}:
                        </h5>
                        {{ update.name }}
                    </li>
                    {% if update.description %}
                    <li class="update-details__item description">
                        <h5>
                            {% trans 'Descripción' %}:
                        </h5>
                        {{ update.description | safe }}
                    </li>
                    {% endif %}
                </ul>
                <p>
                  {% trans 'Haz click en el botón "Actualizar" para empezar el proceso' %}
                </p>

                {% endif %}
                <button class="update-button" data-launch-modal="#modal-update">
                    {% trans 'Actualizar' %}
                </button>
        </div>
        {% include 'blocks/modal-update.html' with release=release %}
    </div>
</div>
{% endblock %}
