// Menu services
  /templates/menus/menu-services.html

.menu-services
  text-align: center
  width: calc(50%)
  position: absolute
  margin: 0 auto
  +links(white, $palette_maadix, .1s ease)
  font-family: $font_headers
  text-transform: uppercase
  font-size: .9em

.menu-services__item
  display: inline
