// Menu secondary
  /templates/menus/menu-secondary.html

.menu-secondary
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  line-height: $m*2
  +links_none

.menu-secondary__item
  padding: 0 $m/2
  +transition(background-color .2s ease)
  &:hover
    background-color: $palette_blue_dark
    cursor: pointer
