// Update page
  /templates/pages/update.html

.update-text
  background: white
  padding: $m $m/2
  +breakpoint('sm')
    padding: $m*2
  h3
    color: $palette_maadix
    margin-top: 0
.update-details
  margin: $m 0
  padding: $m/2 $m
  border: 1px solid #ddd
  max-width: 480px
  h5
    margin: $m/3 0
    text-transform: uppercase
  h5 + br,
  h5 + br + br
    display: none

.update-details__item.description h5
  margin-top: $m/2

.update-button
  +button_success
  margin-top: $m

.no-updates h3
  margin-bottom: $m
