// Service, grid layout
   /templates/views/service-grid.html
.page__content--services .no-services
  margin-bottom: $m

.view-services--grid
  display: grid
  @media all and (min-width: 1280px)
    grid-template-columns: 50% 50%
  @media all and (min-width: 1400px)
    grid-template-columns: 33% 33% 33%
  grid-gap: $m/2

.service--grid
  padding: $m
  background: white
  width: 100%
  border: 1px solid
  +links($color_text, darken($palette_maadix, 5%), .2s ease)

.service__title--grid 
  h3
    padding-bottom: 0
    margin-bottom: $m/3
    text-transform: uppercase
  h5
    display: inline-block
    margin: 0
    padding: $m/3 0 0
    border-top: 2px solid

.service--grid .field
  margin-bottom: $m

.no-services
  background: white
  padding: $m

.no-services__title
  margin-top: 0

.service__image--grid
  text-align: center

.services-button
  +button_success
  +breakpoint('sm')
    position: fixed

.service__description--grid
  a
    text-decoration: underline !important
    text-decoration-style: dotted !important
.service__actions--grid
  color: $palette_maadix
  +links($palette_maadix, darken($palette_maadix, 5%), .2s ease)
  .fa
    color: #aaa
.service__action--grid
  margin-bottom: $m
.service__action--grid input + span
  font-family: $font_headers

.service--grid.enable
  border-color: #ddd
  .service__image--grid,
  .service__title--grid,
  .service__description--grid
    opacity: .6
    

//.service__dependencies--grid
  display: none

//.service__dependencies--grid.active
  display: block

.service__dependencies--grid
  display: block

.dependency
  display: none
  margin-top: $m

.dependency.active
  display: block

.dependency
  padding: $m/2
  background-color: #ffd
  label
    +h(5)
  input
    margin-top: $m/2
  .dependency__description
    margin: $m/3 0
    font-size: .9em
div.error
  color: #d9534f
  background-color: rgba(217, 83, 79, 0.1)
  padding: 12px
  span
    font-family: "open-sans-condensed-bold", sans-serif
    margin-bottom: 24px
form.default
  input.dependency__input
    width: 100%

.errorlist.nonfield
  background-color: $color_danger
  color: white
  position: sticky
  top: $m
  padding: $m
  z-index: 11000
  display: inline-block