.page__wide-content-left--trash-update
form.form--trash
  background: none

form.default
  label.select_all
    display: inline
    margin-left: $m
.trash--table
  background: white
  padding: $m/2 $m
  display: block
  margin-top: $m/3
  +links($palette_maadix, darken($palette_maadix, 5%), .1s ease)
  h5
    margin: 0
  a
    text-transform: uppercase
    font-size: $size_small
    font-family: $font_headers
  +breakpoint('lg')
    display: flex 


.trash--table .field
  +breakpoint('lg')
    flex-grow: 1
  word-wrap: break-word
  padding: $m/3

.trash--table .field__label
  font-family: $font_headers
  //background-color: rgba(black, 5%)
  display: block
  margin-bottom: $m/2

.trash__value--table,
.trash__required-value--table
  +breakpoint('lg')
    max-width: 20% 
.trash--table.top .field
  margin-bottom: $m/4
