// User, grid layout
   /templates/views/user-grid.html

.user--list
  +generic_list_item

.user__services--list
  .field__value span
    background-color: $color_success
    color: white
    margin-right: $m/4
    font-size: .8em
    font-family: $font_headers
    padding: 0 $m/4
    &:before
      content: "✓"
  .field__value .disabled
    background-color: $color_danger
    &:before
      content: "✕"
.user__name--list .field__value
  //text-transform: uppercase
  +h(5)
  margin-bottom: $m/2
.service-menu a 
  text-transform: uppercase
  display: inline-block
  border: 1px solid
  padding: $m/4 $m/3
  font-size: small
  color: black
  font-weight: bold
.service-menu a.active
  background-color: $palette_maadix
  color: white
