{# Block to render email configuration instructions #}
{% load i18n %}

<div class="mail-configuration">
    <h5 class="mail-configuration__title">
        {% trans 'Configurar cliente de correo' %}
    </h5>
    <ul class="mail-configuration__tabs">
        <ul class="mail-configuration__triggers">
            <li class="mail-configuration__trigger active" data-toggle="imap"
                data-excluded="mail-configuration__tab">
                IMAP
            </li>
            <li class="mail-configuration__trigger" data-toggle="pop3"
                data-excluded="mail-configuration__tab">
                POP3
            </li>
        </ul>
        <li class="mail-configuration__tab imap collapsed" id="imap">
            <ul class="mail-configuration__tab-incoming imap">
                <h4>{% trans 'Correo entrante' %} IMAP</h4>
                <li><label>{% trans 'Servidor' %}</label> {{ fqdn }}</li>
                <li><label>{% trans 'Puerto' %}</label> 993</li>
                <li><label>{% trans 'Seguridad' %}</label> SSL/TLS</li>
                <li><label>{% trans 'Nombre de usuarix' %}</label> {{ mail_account }}</li>
                <li><label>{% trans 'Contraseña' %}</label>{% trans 'Normal' %}</li>
            </ul>
            <ul class="mail-configuration__tab-outgoing imap">
                <h4>{% trans 'Correo saliente' %} SMTP</h4>
                <li><label>{% trans 'Servidor' %}</label> {{ fqdn }}</li>
                <li><label>{% trans 'Puerto' %}</label> 465</li>
                <li><label>{% trans 'Seguridad' %}</label> SSL/TLS</li>
                <li><label>{% trans 'Nombre de usuarix' %}</label> {{ mail_account }}</li>
                <li><label>{% trans 'Contraseña' %}</label>{% trans 'Normal' %}</li>
            </ul>
        </li>
        <li class="mail-configuration__tab pop collapsed" id="pop3">
            <ul class="mail-configuration__tab-incoming pop">
                <h4>{% trans 'Correo entrante' %} POP3</h4>
                <li><label>{% trans 'Servidor' %}</label> {{ fqdn }}</li>
                <li><label>{% trans 'Puerto' %}</label> 995</li>
                <li><label>{% trans 'Seguridad' %}</label> SSL/TLS</li>
                <li><label>{% trans 'Nombre de usuarix' %}</label> {{ mail_account }}</li>
                <li><label>{% trans 'Contraseña' %}</label>{% trans 'Normal' %}</li>
            </ul>
            <ul class="mail-configuration__tab-outgoing pop">
                <h4>{% trans 'Correo saliente' %} SMTP</h4>
                <li><label>{% trans 'Servidor' %}</label> {{ fqdn }}</li>
                <li><label>{% trans 'Puerto' %}</label> 465</li>
                <li><label>{% trans 'Seguridad' %}</label> SSL/TLS</li>
                <li><label>{% trans 'Nombre de usuarix' %}</label> {{ mail_account }}</li>
                <li><label>{% trans 'Contraseña' %}</label>{% trans 'Normal' %}</li>
            </ul>
        </li>
    </ul>
</div>
