{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--services" id="modal-services">
    <div class="modal__content-wrapper--services">
        <p class="modal__content--isnatll">
            <div class="modal__text--services inactive">
            {% if update_group or disable_groups or enable_groups %}
              <p>{% trans 'Las siguientes aplicaciones se han seleccionado para ser modificadas: '%}</p>
                {% if update_group %}
                  <ul>
                    <li>{{ appname }}</li>
                  </ul>
                {% endif %}
                {% if disable_groups %}
                  <p>{% trans 'Se desactivará: '%}</p>
                  <ul>
                    {% for group in disable_groups%} 
                    <li><i class="fa fa-plus"></i> {{ group }}</li>
                    {% endfor %}
                  </ul>
                  {% if disable_dep_groups %}
                    {% trans 'También puedes desactivar las siguientes dependencias, que ya no se usarán en la nueva configuración. Si quieres desactivarlas cancela la operación y selecciónalas también. ' %}
                    <ul>
                    {% for group in disable_dep_groups %}
                    <li><i class="fa fa-plus"></i> {{ group }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}

                  <p>{% trans 'No se borrarán los archivos de la aplicación, ni los datos. Las aplicaciones desactivadas podrán reactivarse, manteniendo la configuración actual.' %}</p>
                {% endif %}
                {% if enable_groups %}
                  <p>{% trans 'Se activará: '%}</p>
                  <ul>
                    {% for group in enable_groups %}
                    <li><i class="fa fa-plus"></i> {{ group }}</li>
                    {% endfor %}
                  </ul>
                  {% if enable_dep_groups %}
                    {% trans 'También se activarán las siguientes dependencias, utilizadas por las aplicaciones seleccionadas: ' %}
                    <ul>
                      {% for group in enable_dep_groups %}
                        <li><i class="fa fa-plus"></i> {{ group }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endif %}
                <p>{% trans 'El proceso durará unos minutos durante los cuales el Panel de Control quedará inactivo' %}</p>
                <p>{% trans 'Todas las personas que tengan una sesión activa serán forzadas a salir y redireccionadas a una página en la que se mostrará el estado de la operación. '%}
                {% trans 'Cuando la operación termine se activará el formulario para volver a acceder.' %}</p>
                <p>{%trans '¿Confirmas que quieres cambiar el estado delas aplicaciones ahora?' %}</p>
            </div>
            {% else %}
            <div class="modal__text--services inactive">
                <p>
                {% trans 'No hay ninguna aplicación seleccionada' %}
                </p>
            </div>
            {% endif %}
            <div class="modal__actions--services">
                <span class="modal__submit--services inactive" data-dismiss="#modal-services">
                    {% trans 'Cancelar' %}
                </span>
                {% if update_group or disable_groups or enable_groups %}
                  <button class="modal__submit--services inactive confirm" name="writeldap" data-release="{{ release }}" type="submit">
                    {% trans 'Actualizar' %}
                  </button>
                {% endif %}
            </div>
        </p>
    </div>
</div>
