{# Login #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--2fa{% endblock %}
{% block page_html_title %}{% trans '2FA' %}{% endblock %}

{% block main %}
<h1 class="page__title--2fa">
      {% trans '2FA ' %}{{ appname }}
</h1>
<div class="page__subtitle--services">
      {% trans 'Configuración de autenticación en dos pasos ' %}
</div>

<div class="page__content--services">
    <div class="page__content-left__services">
    {% if maintenance %}
        <div class="page__section--service error">
           <p>{% trans 'Los parámetros de configuración no se pueden modificar, debido a una tarea de mantenimiento pendiente' %}</p>
           <p>{% trans 'Actualiza antes el sistema para poder cambiar la configuración: ' %} <a class="" href="{%     url 'update' %}">{% trans 'Actualizar' %}</a></p>
        </div>
    {% endif %}

  {% block content_wrapper %}
      {% block content %}{% endblock %}
  {% endblock %}
{% endblock %}

  </div>
</div>
