{% load i18n %}
  {{ wizard.management_form }}
  {% if wizard.steps.current == 'auth' %}
    {% for field in wizard.form %}
    <p>
    {{ field }}
    <label for="{{ field.name }}">
    {% if field.name == 'username' %}
      {% trans 'Nombre de la cuenta' %}
    {% else %}
      {{ field.label }}
    {% endif %}
        </label>
    </p>
    {% endfor %}
  {% else %}
    {{ wizard.form.as_p }}
  {% endif %}
