{% load i18n %}
<div class="page__section--2fa">

{% if cancel_url and not wizard.steps.current == 'auth' %}
<button class="submit--cancel"><a href="{% url 'two_factor:profile' %}"
     class="white">{% trans "Cancelar" %}</a>
</button>
{% endif %}
<button type="submit" class="submit--confirm">
  {% if wizard.steps.current == 'auth' %}
    {% trans 'Entrar' %}
  {% else %}
    {% trans 'Siguiente' %}
  {% endif %}
</button>
  {% if wizard.steps.current == 'auth' %}
    <a class="form-login__password-reset-link" href="{% url 'pass-recover' %}">
      {% trans 'He olvidado mi contraseña' %}
    </a>
  {%endif %}
</div>
