{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
 <div class="page__section--2fa">
  <h3>{% block title %}{% trans "Códigos de respaldo" %}{% endblock %}</h3>
  <p>{% blocktrans trimmed %}En caso de no tener acceso al móvil 
      con el que activaste 2FA puedes utilizar los códigos de respaldo. 
      Cada código es de un solo uso. Antes de utilizarlos todos no olvides 
      generar un nuevo conjunto.{% endblocktrans %}</p>

  {% if device.token_set.count %}
  <p>{% trans 'Sólo serán válidos los tokens de respaldo que se muestran a continuación.' %}</p>
    <ul class="2fa-tokens">
      <h4>{% blocktrans %}Guarda estos código en un lugar seguro.{% endblocktrans %}</h4>
      {% for token in device.token_set.all %}
        <li class="clean-list">{{ token.token }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <h4>{% trans "Todavía no tienes ningún código de respaldo." %}</h4>
  {% endif %}

  <form class="default" method="post">{% csrf_token %}{{ form }}
    <p>{% blocktrans trimmed %}Antes de que se agoten los códigos de respaldo, 
    procede a generar nuevos para evitar perder acceso al panel de control{% endblocktrans %}</p>
    <p>{% blocktrans trimmed %}Cada vez que generas un nuevo conjunto, los códigos anteriores
    dejarán de ser válidos.{% endblocktrans %}</p>
    <button class="btn btn-primary" type="submit">{% trans "Generar códigos de respaldo" %}</button>

    <h5><a href="{% url 'two_factor:profile'%}"
          class="btn btn-link">{% trans "Volver a configuración de 2FA" %}</a></h5>

  </form>
 </div>
{% endblock %}
