{% extends "two_factor/_base_focus_loggedout.html" %}
{% load i18n two_factor %}

{% block content %}
  <form class="form-login hide" id="form-ready" action="" method="post">{% csrf_token %}

  {% if wizard.steps.current == 'token' %}
    {% if device.method == 'call' %}
      <p>{% blocktrans trimmed %}We are calling your phone right now, please enter the
        digits you hear.{% endblocktrans %}</p>
    {% elif device.method == 'sms' %}
      <p>{% blocktrans trimmed %}We sent you a text message, please enter the tokens we
        sent.{% endblocktrans %}</p>
    {% else %}
      <p>{% blocktrans trimmed %}Inserta los códigos generados por tu aplicación{% endblocktrans %}</p>
    {% endif %}
  {% elif wizard.steps.current == 'backup' %}
    <p>{% blocktrans trimmed %}Inserta un código de respaldo válido.
      {% endblocktrans %}</p>
  {% endif %}

    {% include "two_factor/_wizard_forms.html" %}

    {# hidden submit button to enable [enter] key #}
    {# <input type="submit" value="" class="d-none" />#}

    {% if other_devices %}
      <p>{% trans "Or, alternatively, use one of your backup phones:" %}</p>
      <p>
        {% for other in other_devices %}
        <button name="challenge_device" value="{{ other.persistent_id }}"
                class="btn btn-secondary btn-block" type="submit">
          {{ other|device_action }}
        </button>
      {% endfor %}</p>
    {% endif %}
    {% if backup_tokens %}
      <p>{% trans "As a last resort, you can use a backup token:" %}</p>
      <p>
        <button name="wizard_goto_step" type="submit" value="backup"
                class="submit--backup"">{% trans "Use Backup Token" %}</button>
      </p>
    {% endif %}

    {% include "two_factor/_wizard_actions.html" %}
  </form>
{% endblock %}
