{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
<div class="page__section--2fa">
  <h3>{% block title %}{% trans "Activación completada" %}{% endblock %}</h3>

  <p>{% blocktrans trimmed %}Enhorabuena, has activado con éxito la autenticación en dos pasos.
      {% endblocktrans %}</p>
   <p>{% blocktrans trimmed %}A partir de ahora, cada vez que quieras acceder al Panel de Control, 
   tendrás que utilzar tu dispositivo móvil.{% endblocktrans %}</p>

  <p>{% blocktrans trimmed %}Para evitar perder el acceso al Panel de Control en el caso de que no 
  tengas tu disposistivo a mano, genera y copia en un lugar seguro los códigos de respaldo.
  {% endblocktrans %}</p>
  {% if not phone_methods %}
    <h5><a href="{% url 'two_factor:backup_tokens' %}"
        class="btn btn-block btn-secondary">{% trans "Generar Códigos" %}</a></h5>
  {% else %}
    <p>{% blocktrans trimmed %}However, it might happen that you don't have access to
      your primary token device. To enable account recovery, add a phone
      number.{% endblocktrans %}</p>

    <a href="{% url 'two_factor:2faprofile' %}"
        class="float-right btn btn-link">{% trans "Back to Account Security" %}</a>
    <p><a href="{% url 'two_factor:phone_create' %}"
        class="btn btn-success">{% trans "Add Phone Number" %}</a></p>
  {% endif %}
</div>
{% endblock %}
